service_endpoints:
  chat: "http://chat:9000"

active_llms:
  chat:
    - "${CHAT_MODEL_ID}"

authentication:
  guest_mode: true

allow_origins:
  - "http://localhost:${FRONTEND_PORT}"
  - "http://127.0.0.1:${FRONTEND_PORT}"
