chat:
  ${CHAT_MODEL_ID}:
    label: ${CHAT_MODEL_NAME}
    model: ${CHAT_MODEL_NAME}
    prompt_map: base_assistant
    is_remote: false
    max_context_tokens: ${CHAT_CONTEXT_LENGTH}
    api:
      url: ${CHAT_BASE_URL}
      timeout: 10
      health_check: /models
    inference:
      temperature: 0.7
      top_p: 0.9
      max_new_tokens: 2048
